@import url('style/tokens.css');
@import url('style/forms.css');
@import url('style/tables.css');
@import url('https://prismjs.com/themes/prism-solarizedlight.min.css');

:root {
	--page-width: 900px;
	--page-margin-inline: clamp(1em, 50vw - var(--page-width) / 2, 50vw);
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	font: 100%/1.5 var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-block: 1.5rem .5rem;
}

h2 {
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--accent-color);
}

ul, ol {
	margin-block: .5rem 1rem;
}

body > * {
	&:is(header, nav, footer) {
		padding-inline: var(--page-margin-inline);
	}

	&:not(header, nav, footer) {
		margin-inline: var(--page-margin-inline);
		order: 10;
	}

	header + nav + & {
		margin-top: 1em;
	}

	&:is(header) {
		order: 0;
		background: var(--accent-color);
		color: white;
		padding-block: 1em;

		& h1 {
			margin: 0;
			font-size: 300%;

			& + p {
				margin: 0;
				font-weight: bold;
			}
		}

		& a {
			color: inherit;
		}

		& .home {
			text-transform: uppercase;
			font-weight: 900;
			font-size: 75%;

			&:not(:hover) {
				text-decoration: none;
			}

			&::before {
				content: "🏠";
				margin-right: .3em;
			}
		}
	}
}

nav {
	order: 1;
	display: flex;
	padding-top: 0;
	padding-bottom: 0;
	background: hsl(var(--accent-color-hs) 65%);

	& > a {
		flex: 1;
		padding: .4em .5em;
		color: white;
		font-weight: bold;
		background: linear-gradient(to right, hsl(var(--accent-color-hs) 50%), hsl(var(--accent-color-hs) 75%)) no-repeat left / 0 100%;
		transition: .3s;

		&:hover {
			background-size: 100% 100%;
		}

		&:where(:not(:hover)) {
			text-decoration: none;
		}
	}
}

code, pre {
	font-family: var(--font-mono);
}

iframe {
	border: 0;
}

.failed {
	--color-hs: 0 50%;
	border: 1px solid hsl(var(--color-hs) 60%);
	background: hsl(var(--color-hs) 95%);
	color: hsl(var(--color-hs) 20%);
	padding: 1em;

	& :is(h2, h3, h4, h5, h6) {
		color: hsl(var(--color-hs) 50%);
	}

	& h2 {
		margin-top: 0;

		&::before {
			content: "⚠️";
		}
	}
}
