@import url('tokens.css');

button, input, textarea, select,
.button,
::part(button), ::part(input) {
	font: inherit;
	box-sizing: border-box;
}

input:where([type="number"]),
::part(input-number) {
	width: 3em;
}

input:where(:not([type]), [type="text"], [type="url"], [type="number"]), textarea, select,
::part(input), ::part(textarea), ::part(select) {
	border: 1px solid var(--color-neutral-50a);
	border-radius: .2em;
	padding: .2em .4em;
	min-width: 4em;
}

fieldset {
	border: none;
	margin: .5rem 0;
	background: var(--color-neutral-10a);
	border-radius: .3em;

	& > legend {
		font-weight: bold;
	}
}

button,
.button,
::part(button) {
	padding: .6em .8em;
	border: 1px solid hsl(0 0 0 / .2);
	border-radius: calc(.15em + .15rem);
	background-color: white;
	cursor: pointer;
	font-size: var(--font-size-small);
	text-decoration: none;
	color: inherit;
	transition-duration: .2s;
	transition-property: background-color, border-color, color;
	line-height: 1.1;
	white-space: nowrap;

	&:disabled {
		cursor: not-allowed;
		opacity: .5;
	}

	&:active,
	&[aria-pressed="true"] {
		box-shadow: 0 .1em .2em hsl(0 0% 0% / .2) inset, 0 0 0 2em var(--color-neutral-10a) inset;
	}

	&:where(:enabled) {
		&:hover {
			border-color: hsl(var(--accent-color-hs) 80%);
			background-color: hsl(var(--accent-color-hs) 95%);
			color: hsl(var(--accent-color-hs) 15%);
		}
	}

	/* Icon */
	& i {
		display: inline-block;
		opacity: .7;
	}

	&.icon-prefix:where(:not(.icon-only)) i:first-of-type {
		margin-right: .4em;
	}

	&.icon-suffix i:last-of-type {
		margin-left: .4em;
	}

	&[type=submit] {
		background: var(--accent-color-2);
		color: white;

		&:where(:enabled) {
			&:hover {
				border-color: hsl(var(--accent-color-2-hs) 80%);
			}
		}
	}
}