<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or defaultTitle }}</title>
	<link rel="stylesheet" href="{{ page | relative }}/style.css" />

	{% if css_only %}
	<link rel="stylesheet" href="{{ id }}.css">
	{% elseif id %}
	<script src="{{ id }}.js" type="module"></script>
	{% endif %}
	{{ includes | safe }}


</head>
<body>

<nav>
	<a href="#installation">Installation</a>
	<a href="https://github.com/LeaVerou/nudeui/tree/main/{{ id }}">GitHub</a>
</nav>

{{ content | safe }}

<script src="{{ page | relative }}/global.js" type="module"></script>

</body>
</html>