<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or defaultTitle }}</title>
	<link rel="icon" href="{{ page | relative }}/logo.svg">
	<link rel="stylesheet" href="{{ page | relative }}/style.css" />

	{% if css_only %}
	<link rel="stylesheet" href="{{ id }}.css">
	{% elseif id %}
	<script src="{{ id }}.js" type="module"></script>
	{% endif %}
	{{ includes | safe }}
</head>
<body>

<nav>
	<a href="#installation">Installation</a>
	<a href="https://github.com/LeaVerou/nudeui/tree/main/{{ id }}">GitHub</a>
</nav>

{{ content | safe }}

{% if id %}
<section id="installation">

<h2>Installation</h2>

{% if css_only %}

<p>This is a CSS-only component. You can just import it straight into your CSS file:

<pre class="language-css"><code>@import url('https://nudeui.com/{{ id }}/{{ id }}.css');</code></pre>

<p>Then use <code>class="{{ id }}"</code> on the types of elements described above.</p>

{% else %}

<p>Just include the component's JS file and you're good:

<pre class="language-html"><code>&lt;script src="https://nudeui.com/{{ id }}/{{ id }}.js" type="module">&lt;/script>
</code></pre>

<p>In case you want to link to local files: CSS is fetched automatically, and assumed to be in the same directory as the JS file.
{% endif %}

</section>
{% endif %}

<script src="{{ page | relative }}/global.js" type="module"></script>

</body>
</html>