:host {
	display: flex;
	gap: .2em;
}

:host([vertical]) {
	flex-flow: column;
	align-items: stretch;
}

::slotted(input),
::slotted(:not(select):nth-child(2)) {
	flex: 1;
}

::slotted(button-group) {
	margin: 0;
}