:host {
	display: inline-flex

	/* 0 specificity default pressed styles */
}

:host ::slotted(:where([aria-pressed="true"])) {
		background: hsl(220 10% 90% / .9);
		box-shadow: 0 .1em .2em hsl(0 0% 0% / .2) inset, 0 0 0 2em hsl(220 10% 50% / .15) inset;
	}

:host([separate]) {
	flex-wrap: wrap
}

:host([separate]) ::slotted(*) {
		flex: 1;
		margin: .2em;
	}

:host(:not([separate])) {
	margin: .5em
}

:host(:not([separate])) ::slotted(*) {
		margin: 0;
	}

:host(:not([vertical]):not([separate])) {
	justify-content: center;
	align-items: center
}

:host(:not([vertical]):not([separate])) slot::slotted(*) {
		flex: 1;
	}

:host(:not([vertical]):not([separate])) ::slotted(:not(:last-of-type)) {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		border-inline-end: none !important;
	}

:host(:not([vertical]):not([separate])) ::slotted(:not(:first-of-type)) {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

:host([vertical]):not([separate]) {
	flex-direction: column;
	align-items: stretch
}

:host([vertical]):not([separate]) ::slotted(*) {
		text-align: inline-start;
	}

:host([vertical]):not([separate]) ::slotted(:not(:last-of-type)) {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		border-block-end: none !important;
	}

:host([vertical]):not([separate]) ::slotted(:not(:first-of-type)) {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}