button-group {
	display: flex;
	margin: .5em
}
button-group[vertical] {
		flex-direction: column;
		align-items: stretch
	}
button-group[vertical] > * {
			text-align: left
		}
button-group[vertical] > *:not(:last-of-type) {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom: none;
			}
button-group[vertical] > *:not(:first-of-type) {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
button-group:not([vertical]) {
		justify-content: center;
		align-items: center
	}
button-group:not([vertical]) > * {
			flex: 1
		}
button-group:not([vertical]) > *:not(:last-of-type) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;
			}
button-group:not([vertical]) > *:not(:first-of-type) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
button-group > :where([aria-pressed="true"]) {
		background: hsl(0 0% 95% / .8);
		box-shadow: 0 .1em .2em hsl(0 0% 0% / .2) inset, 0 0 0 2em hsl(var(--gray) 50% / .12) inset;
		outline: 2px solid red;
	}